Pyhton Syntax

In [3]:
#comment
#indentation 
if 5>2:
    print("true ")
#pyhton Var

x=5
y="hello world"
#printin Var
print(y)
"""
Mutliline comment using 

"""
x="fazal"
y='fazal'

true
hello world

In [7]:

#both are same 
type(x)
type(y)

str

In [8]:
#var are case sensitive 
a=4
A="sally"

In [9]:
myvar = "John"
my_var = "John"
_my_var = "John"
myVar = "John"
MYVAR = "John"
myvar2 = "John"

In [10]:
#illegal variable names 
#2myvar = "John"
#my-var = "John"
#my var = "John"

In [12]:
#one to value multiple variables
x = y = z = "Orange"
print(x)
print(y)
print(z)

Orange
Orange
Orange

In [14]:
#list to x,y,z varaibles assigning list to variables 
fruits = ["apple", "banana", "cherry"]
x, y, z = fruits
print(x)
print(y)
print(z)

apple
banana
cherry

In [15]:
x = "Python"
y = "is"
z = "awesome"
print(x, y, z)

Python is awesome

In [16]:
x = "Python "
y = "is "
z = "awesome"
print(x + y + z)

Python is awesome

In [17]:
# we can add 2 var but with the same Data type

Global Variables

In [18]:
x = "awesome"

def myfunc():
  print("Python is " + x)

myfunc()

Python is awesome

In [22]:
def sum(x,y):
    global z 
    z=x+y
sum(1,6)    
print(z)

7

In [26]:
gl_var=1
def gmy():
    gl_var=2
gmy()
print(gl_var)
#for changing the global varaible you have to use global keyword inside the function 

def gmy2():
    global gl_var
    gl_var=3
gmy2()
print(gl_var)

1
3

In [28]:
x="hello world"
x=1j
x=range(7)

In [32]:
x= ("apple", "banana", "cherry")

For tuple we have to use , tuple=(1,) unless its gonna consider tuple int 
can save differe t data type but they are interchangeable

In [38]:
x[0]
#almost same as list

'apple'

In [39]:
if "apple" in x:
    print(True)

True

In [41]:
x[1:]

('banana', 'cherry')

In [42]:
# set : unordered structure and not repeating 
# acess cant be indexing

In [43]:
txt = "We are the so-called \"Vikings\" from the north."

In [44]:
txt

'We are the so-called "Vikings" from the north.'

In [53]:
def bill_split(amount, friends):
    tax=amount*.20
    
    total=tax + amount 
    each=round((total/friends),2)
    print(each)

In [54]:
bill_split(100,5)

24.0

In [57]:
sql=[x*2 for x in range(0,5+1)]

In [58]:
print(sql)

[0, 2, 4, 6, 8, 10]

In [59]:
sql=[s for s in "apple" if s in "aeiou"]

In [60]:
sql

['a', 'e']

In [65]:
x="12"
y=13
z=int(x)+y

In [68]:
z

25

In [70]:
try:
    100/0
except:
    print("divison error")

divison error

It acts as exception so we have to see If the exception as e :
 it will complete the code and then it will print the exceptions as string

 


try:
    KKKKKKKKK
except Exception as e:
     raise e

it will complete the code execution 
 (important code )

Function Caling

In [73]:
def add_n(x=2,y=3):
    z=x+y
    print(z)

In [76]:
add_n(3)

6

Python Function With Arbitrary Arguments

In [78]:
def find_sum(*numbers):
    result = 0
    
    for num in numbers:
        result = result + num
    
    print("Sum = ", result)

# function call with 3 arguments
find_sum(1, 2, 3)

# function call with 2 arguments
find_sum(4, 9)
find_sum(1,2,3,4,5)

Sum =  6
Sum =  13
Sum =  15

In [79]:
def outer_function():
    num = 20

    def inner_function():
        global num
        num = 25
    
    print("Before calling inner_function(): ", num)
    inner_function()
    print("After calling inner_function(): ", num)

outer_function()
print("Outside both function: ", num)

Before calling inner_function():  20
After calling inner_function():  20
Outside both function:  25

Partial Function

In [1]:
def power(base, exponent):
    return base ** exponent
#one variable is constant 

def square(base):
    return power(base,2)


def sq(base):
    return power(base,3)

#using the smae function in other function but making one varaible constant

In [2]:
square(2)

4

Lambda Function

In [3]:
sq=lambda x:x*2
sq(2)

4

In [5]:
add=lambda x,y:x+y
add(1,2)
#it return the function where you can send the parameter too and get the resultand dont have to explicity define a function outside it

3

Recursive Function

where we have to delivere fruit in arecursive manner to learn recursive ness

In [15]:
list=["apple","orange","melon"]
def recursive(arr,message):
    deliverd=[]
    print(message)
    if len(arr)==1:
        if arr[0] not in deliverd:
            print("delivered in house ", arr[0])
            deliverd.append(arr)
    else:
        mid=len(arr)//2
        first_h=arr[:mid]
        second_h=arr[mid:]

        recursive(first_h,"first half")
        recursive(second_h, "second half")

In [16]:
recursive(list,"main")

main
first half
delivered in house  apple
second half
first half
delivered in house  orange
second half
delivered in house  melon

In [21]:
def fact(n):
    if n==1:
        return 1
    else:
       return  n * fact(n-1)

In [22]:
fact(4)

24

Monkey Patching

In [30]:
class Test:
    def __init__(self,x):
        self.x=x

    def get_data(self):
        print("get_Data from db ")

    def f1(self):
        self.get_data()
    def f2(self):
        self.get_data()

In [33]:
#now monkeydef patching it by saving the va;lue form the new function or adress of the function to the get data function from class


def get_new(self):
    print("data is from test and after monkey patching ")
Test.get_data=get_new
t2=Test(2)
t2.get_data()


def new():
    print("new")
def old():
    print("old")
new=old
new()

data is from test and after monkey patching
old

LIst and

In [37]:
x=input("number of elemnet in the list ")
lsr=x.split()

In [38]:
lsr

['5', '2', '6', '6']

In [125]:
list1=["apple","orange","strawberry","melon"]

In [126]:
list1[-2:]

['strawberry', 'melon']

In [127]:
list1[:2:-5]

['melon']

In [128]:
#square of even number usong list
list1=[x**2 for x in range(10) if x%2==0]

In [129]:
list1

[0, 4, 16, 36, 64]

In [62]:
#list compare 
temp=[]
for ch in "Geekfor geeks":
    if ch in "aeiou":
        if ch not in temp :
            temp.append(ch)

In [63]:
temp

['e', 'o']

In [130]:
list1=[  x for x in "geekfor geek" if x in "aieou"  ]

In [131]:
list1

['e', 'e', 'o', 'e', 'e']

Sorting using keys

In [132]:
list1=["aPPle","orange","strAWberry","melon"]
list1.sort(key=str.lower)

In [134]:
list1

['aPPle', 'melon', 'orange', 'strAWberry']

In [77]:
#this key is acting as and working for sorting a list but in a 
#manner like it is comparing the values and sorting it but with the help of lwer case converting them to lowe and then comparing them to each other

Shallow Copy and deep copy

In [78]:
#shall
list1=[1,2,3,4,5,6]
list2=list1

In [79]:
list2[0]=100
list1

[100, 2, 3, 4, 5, 6]

In [80]:
#changes are made in object of list 
list1=[1,2,3,4,5,6]
list2=list.copy()

In [82]:
list2[0]=500
list1
#no changes are made in this copy method but in nested method it will not act as same

[1, 2, 3, 4, 5, 6]

In [84]:
list1=[[1,2,3],[4,5,6]]
list2=list1.copy()
list2[0][0]=100
list1 
#normal copy method in nested loop will act as same as shaloow copy objects 
# in elements will be same as but object can be modified 
#

[[100, 2, 3], [4, 5, 6]]

In [86]:
list2.append([5,6,7])
list1
#see the new elemnt will not be added but in object changes can be happen

[[100, 2, 3], [4, 5, 6]]

In [90]:
#for solving this issue in nested loop we have deepcopy 
list1=[[1,2,3],[4,5,6]]
from copy import deepcopy
#it will act as same as shalow cop in normal or single dimmension array 

list2=deepcopy(list1)
list2[0][0]=25
list1

#lets see in single dimmension 
list1=[1,2,3,4,5,6]
list2=deepcopy(list1)
list2[1]=5
list1,list2

([1, 2, 3, 4, 5, 6], [1, 5, 3, 4, 5, 6])

#joins using list comprehension

In [91]:
l1=[1,2,3,4,5]
l2=[6,7,8,9]
l3=[item for sublist in [l1,l2] for item in sublist]

In [92]:
l3

[1, 2, 3, 4, 5, 6, 7, 8, 9]

List reduce and Map function

In [100]:
def cube(x):
    return x*x*x

list1=[1,2,3,4,5,6]
#temp=[]
#for i in list1:
#    temp.append(cube(i))

temp=map(cube,list1)

In [105]:
temp#its not working and converting to list so im leaving it because
#list i have been used

In [108]:
def filter_p(p):
    if p >0 :
        return p
x=filter(filter_p,list1)
x 
################## or using lamba function 
y=filter(lambda a : a>0,list1)

In [109]:
y

Reduce
[1,2,3,4]
 \/ 
[ 3,3,4]
   \/ 
   [6,4]
    \/ 
     [10]

In [110]:
from functools import reduce
z=reduce(lambda x,y:x+y,list1)

In [111]:
z

21

In [112]:
#accumulate 
from itertools import accumulate
result=accumulate(list1,lambda x: x**2)

In [119]:
z=iter(result)

In [121]:
type(z)

itertools.accumulate

Tuple

In [1]:
rollno=[1,2,3,4]
name=["apple","orange","melon","strawberry"]
data=zip(rollno,name)

In [2]:
list(data)

[(1, 'apple'), (2, 'orange'), (3, 'melon'), (4, 'strawberry')]

Dictionaries

In [3]:
dict={"apple":1,"orange":2,"melon":3}
for key,val in dict.items():
    print(key,val)

apple 1
orange 2
melon 3

In [4]:
String1 = "{0:b}".format(16)
print("\nBinary representation of 16 is ")
print(String1)

# Formatting of Floats
String1 = "{0:e}".format(165.6458)
print("\nExponent representation of 165.6458 is ")
print(String1)

# Rounding off Integers
String1 = "{0:.2f}".format(1/6)
print("\none-sixth is : ")
print(String1)

Binary representation of 16 is
10000

Exponent representation of 165.6458 is
1.656458e+02

one-sixth is :
0.17