Pyhton Syntax

In [3]:
#comment
#indentation 
if 5>2:
    print("true ")
#pyhton Var

x=5
y="hello world"
#printin Var
print(y)
"""
Mutliline comment using 

"""
x="fazal"
y='fazal'

true
hello world

In [7]:

#both are same 
type(x)
type(y)

str

In [8]:
#var are case sensitive 
a=4
A="sally"

In [9]:
myvar = "John"
my_var = "John"
_my_var = "John"
myVar = "John"
MYVAR = "John"
myvar2 = "John"

In [10]:
#illegal variable names 
#2myvar = "John"
#my-var = "John"
#my var = "John"

In [12]:
#one to value multiple variables
x = y = z = "Orange"
print(x)
print(y)
print(z)

Orange
Orange
Orange

In [14]:
#list to x,y,z varaibles assigning list to variables 
fruits = ["apple", "banana", "cherry"]
x, y, z = fruits
print(x)
print(y)
print(z)

apple
banana
cherry

In [15]:
x = "Python"
y = "is"
z = "awesome"
print(x, y, z)

Python is awesome

In [16]:
x = "Python "
y = "is "
z = "awesome"
print(x + y + z)

Python is awesome

In [17]:
# we can add 2 var but with the same Data type

Global Variables

In [18]:
x = "awesome"

def myfunc():
  print("Python is " + x)

myfunc()

Python is awesome

In [22]:
def sum(x,y):
    global z 
    z=x+y
sum(1,6)    
print(z)

7

In [26]:
gl_var=1
def gmy():
    gl_var=2
gmy()
print(gl_var)
#for changing the global varaible you have to use global keyword inside the function 

def gmy2():
    global gl_var
    gl_var=3
gmy2()
print(gl_var)

1
3

In [28]:
x="hello world"
x=1j
x=range(7)

In [32]:
x= ("apple", "banana", "cherry")

For tuple we have to use , tuple=(1,) unless its gonna consider tuple int 
can save differe t data type but they are interchangeable

In [38]:
x[0]
#almost same as list

'apple'

In [39]:
if "apple" in x:
    print(True)

True

In [41]:
x[1:]

('banana', 'cherry')

In [42]:
# set : unordered structure and not repeating 
# acess cant be indexing

In [43]:
txt = "We are the so-called \"Vikings\" from the north."

In [44]:
txt

'We are the so-called "Vikings" from the north.'

In [53]:
def bill_split(amount, friends):
    tax=amount*.20
    
    total=tax + amount 
    each=round((total/friends),2)
    print(each)

In [54]:
bill_split(100,5)

24.0

In [57]:
sql=[x*2 for x in range(0,5+1)]

In [58]:
print(sql)

[0, 2, 4, 6, 8, 10]

In [59]:
sql=[s for s in "apple" if s in "aeiou"]

In [60]:
sql

['a', 'e']

In [65]:
x="12"
y=13
z=int(x)+y

In [68]:
z

25

In [70]:
try:
    100/0
except:
    print("divison error")

divison error

It acts as exception so we have to see If the exception as e :
 it will complete the code and then it will print the exceptions as string

 


try:
    KKKKKKKKK
except Exception as e:
     raise e

it will complete the code execution 
 (important code )